.bg-dark-pink {
  background-color: #e74c3c;
  animation: bg-color 60s infinite;
  -webkit-animation: bg-color 60s infinite;
}

.dark-pink {
  color: #e74c3c;
  animation: color-change 60s infinite;
  -webkit-animation: color-change 60s infinite;
}

@-webkit-keyframes bg-color {
  0% { background-color: #e74c3c; }
  20% { background-color: #f1c40f; }
  40% { background-color: #1abc9c; }
  60% { background-color: #3498db; }
  80% { background-color: #9b59b6; }
  100% { background-color: #e74c3c; }
}

@keyframes bg-color {
  0% { background-color: #e74c3c; }
  20% { background-color: #f1c40f; }
  40% { background-color: #1abc9c; }
  60% { background-color: #3498db; }
  80% { background-color: #9b59b6; }
  100% { background-color: #e74c3c; }
}

@-webkit-keyframes color-change {
  0% { color: #e74c3c; }
  20% { color: #f1c40f; }
  40% { color: #1abc9c; }
  60% { color: #3498db; }
  80% { color: #9b59b6; }
  100% { color: #e74c3c; }
}

@keyframes color-change {
  0% { color: #e74c3c; }
  20% { color: #f1c40f; }
  40% { color: #1abc9c; }
  60% { color: #3498db; }
  80% { color: #9b59b6; }
  100% { color: #e74c3c; }
}
